<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-inatel">
      <ng-container>
        <a routerLink="/"><img src="..\..\assets\Inatel.png" height="40" ></a>
      </ng-container>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <h3>Avisos</h3>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Dia 28 de junho de 2024</ion-card-subtitle>
      <ion-card-title>Entrega dos comprovantes de atividade externa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Não esqueça de enviar os comprovantes para rosilene&#64;inatel.br</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
