<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-inatel">
      <ng-container>
        <a routerLink="/"><img src="..\..\assets\Inatel.png" height="40" ></a>
      </ng-container>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <h3>Avisos</h3>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Dia 7 de Maio</ion-card-subtitle>
      <ion-card-title>Aula Magna - INATEL</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Teatro INATEL</h2>
      <p>19:30</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
