<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-text color="inatel" class="center-text">
      <h1 style="margin: 15px; margin-bottom: 15px">Mind++ Lab</h1>
    </ion-text>
  </ion-toolbar>
  <ion-segment value="networking" (ionChange)="segmentChangedMind($event)">
    <ion-segment-button value="networking"  >
      <ion-label>networking</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mind-care" >
      <ion-label>mind care</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content [fullscreen]="true" *ngIf="selectedSegmentMind == 'networking'">
  <ion-card>
    <img alt="Fabrica de talentos" src="https://images.sympla.com.br/64e8afb9a216d-lg.jpg" />
    <ion-card-header>
      <ion-card-title>Participe da fábrica de talentos 2024!</ion-card-title>
      <ion-card-subtitle>Inscrições de 11 de junho a 12 de julho</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Participe da fábrica de talentos 2024! Inscrições de 11 de junho a 12 de julho. Acesse o site e saiba mais.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/webinar-event-social-media-template-design-fb1b7918c439167871071879a784e601_screen.jpg" />
    <ion-card-header>
      <ion-card-title>Webinar</ion-card-title>
      <ion-card-subtitle>Programa Pan-Americano de Formação Prática</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Participe do webinar Programa Pan-Americano de Formação Prática. Acesse o site e saiba mais.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="selectedSegmentMind == 'mind-care'">
  <div class="mind-consulta-button">
    <ion-button color="inatel" expand="block"  (click)="setOpen(true)">
      <ion-icon slot="start" name="add" color="inatel"></ion-icon>
      Agendar consulta
    </ion-button>
  </div>
  <ion-list [inset]="true">
    <ion-list-header>
      <strong>Próximas consultas</strong>
    </ion-list-header>
    <ion-item-sliding *ngFor="let cons of consultas">
      <ion-item [button]="true" >
        <ion-label>
          <h3>{{cons.nome}}</h3>
          <p>{{cons.data}}</p>
          <p>{{cons.horario}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="danger" expandable="true" (click)="deleteConsulta(cons.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>


<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Agendar Consulta</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-item>
        <ion-datetime hourCycle="h23" min="{{minDate}}" hourValues="9,10,11,12,13,14,15,16,17" minuteValues="0,15,30,45" [isDateEnabled]="isWeekday" [(ngModel)]="rawDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-select aria-label="Psicologo(a)" placeholder="Selecione o psicologo(a)" [(ngModel)]="rawPsicologo">
          <ion-select-option value="Lidia Ferraz">Lidia Ferraz</ion-select-option>
          <ion-select-option value="Debora Ferreira">Debora Ferreira</ion-select-option>
          <ion-select-option value="Fernanda Oliveira">Fernanda Oliveira</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" color="inatel" class="ion-margin" (click)="addConsulta()">Confirmar</ion-button>  
    </ion-content>
  </ng-template>
</ion-modal>